@use 'abstracts' as *;

.burger-menu {
    display: none;

    position: relative;

    margin-left: auto;

    @include mq(small) {
        display: block;
    }
}

.burger-menu__header {
    position: relative;

    list-style-type: none;
}

.burger-menu__btn {
    cursor: pointer;
}

.burger-menu__body {
    position: absolute;
    top: calc(3.125rem + 1.5rem);
    right: 0;
    background-color: var(--clr-neutral-100);

    padding: 2.16em 5.27em;
    text-align: center;

    color: var(--clr-neutral-400);

    &::before {
        content: "";

        position: absolute;
        top: -1.5rem;
        right: 0;

        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0.75rem;
        border-color: transparent var(--clr-neutral-100) var(--clr-neutral-100) transparent;
    }
}

.burger-menu__item {
    margin-bottom: 1.1em;
}
