.footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 4rem;
    padding-bottom: 4rem;

    background-color: var(--clr-primary-500);
}

.footer__logo {
    filter: invert(0.5) brightness(0.8);
    margin-bottom: 2.22em;
}

.footer__nav {
    margin-bottom: 4.88em;
}

.footer__social {
    display: inline-block;

    &:not(:last-of-type) {
        margin-right: 1.55em;
    }

    &:hover {
        img {
            filter: brightness(100);
        }
    }
}
