@use 'abstracts' as *;

.header {
    position: relative;
    z-index: 10;

    display: flex;
    align-items: center;

    padding: 1.89em 2.44em;

    @include mq(small) {
        padding: 1.77em 1.33em;
    }
}

.header__nav {
    margin-left: auto;

    @include mq(small) {
        display: none;
    }
}
