.intro {
    height: 50rem;
    text-align: center;

    margin-top: -6.88em;

    padding-top: calc(6.88em);

    color: var(--clr-neutral-100);

    background-image: url(/images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.intro__title {
    text-transform: uppercase;
    margin-top: 1.26em;
    margin-bottom: 1.71em;
}
