.link {
    width: 8.5625rem;
    display: inline-block;

    position: relative;
    z-index: 1;

    text-align: center;

    color: var(--clr-neutral-200);

    &::after {
        content: "";

        height: 0.55rem;

        position: absolute;
        bottom: 0.125rem;
        left: 0;
        right: 0;

        z-index: -1;

        border-radius: 1.55em;
    }

    &--theme--sun {
        &::after {
            background-color: var(--clr-primary-100-low-opacity);
        }

        &:hover {
            &::after {
                background-color: var(--clr-primary-200);
            }
        }
    }

    &--theme--pig {
        &::after {
            background-color: var(--clr-primary-200-low-opacity);
        }

        &:hover {
            &::after {
                background-color: var(--clr-primary-100);
            }
        }
    }
}

a {
    &:focus {
        border-bottom: 2px solid white;
    }
}
