@use 'abstracts' as *;

.logo {
    display: flex;
    align-items: center;

    img {
        width: 10.625rem;
        height: 2.0625rem;

        @include mq(small) {
            width: 7.6875rem;
            height: 1.5rem;
        }
    }
}
