.nav {
    &--theme--snow {
        .nav__items {
            color: var(--clr-neutral-100);
        }

        .nav__item {
            margin-right: 2.61em;
        }
    }

    &--theme--grass {
        .nav__items {
            color: var(--clr-neutral-700);
        }

        .nav__item:not(:last-of-type) {
            margin-right: 3.16em;
        }
    }
}

.nav__item {
    display: inline-block;
    cursor: pointer;

    &:hover {
        a {
            color: var(--clr-neutral-100);
        }
    }
}
