@use 'abstracts' as *;

.plat {
    min-height: 37.5rem;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include mq(medium) {
        min-height: 25em;
    }

    @include mq(small) {
        min-height: 19.5rem;
        text-align: center;

        &:nth-of-type(2) {
            order: -1;
        }

        &:nth-of-type(1) {
            order: 0;
        }
    }

    // PLAT TYPES ================>
    &--type--text {
        justify-content: center;

        @include mq(small) {
            padding: 3.55em 1.33em;
        }

        .wrapper {
            max-width: 45ch;

            @include mq(medium) {
                max-width: 31ch;
            }

            @include mq(small) {
                max-width: 32ch;
            }
        }

        .plat__title {
            margin-bottom: 0.71em;
        }

        .plat__description {
            margin-bottom: 2.22em;
        }
    }

    &--type--both {
        justify-content: end;
        text-align: center;

        @include mq(small) {
            min-height: 37.5rem;
        }

        .wrapper {
            max-width: 34ch;
        }

        .plat__title {
            font-size: var(--fs-600);
            margin-bottom: 1em;
        }

        .plat__description {
            font-size: var(--fs-300);
            margin-bottom: 3.75em;
        }

        .plat__img {
            position: absolute;
            top: 0;
            left: 0;

            z-index: -1;
        }
    }
    // END PLAT TYPES =============>

    // PLAT THEMES ================>
    &--theme--default {
        .plat__title {
            color: var(--clr-neutral-200);
        }

        .plat__description {
            color: var(--clr-neutral-400);
        }
    }

    &--theme--cherry {
        .plat__title {
            color: var(--clr-primary-300);
        }

        .plat__description {
            color: var(--clr-neutral-400);
        }
    }

    &--theme--orange {
        .plat__title {
            color: var(--clr-neutral-600-high-opacity);
        }

        .plat__description {
            color: var(--clr-primary-400);
        }
    }
    // END PLAT THEMES =============>
}

.plat__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
