@use 'font-face' as *;

body {
    font-family: "barlow";
    font-size: 1.125rem;
    font-weight: 600;
    font-style: normal;
    line-height: 1.9;
}

h1,
.h1,
h2,
.h2 {
    font-family: "fraunces";
    font-weight: 900;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 button {
    line-height: 1;
}

h1,
.h1 {
    font-size: var(--fs-900);
    letter-spacing: 8.75px;
}

h2,
.h2 {
    font-size: var(--fs-800);
}

h3,
.h3 {
    font-size: var(--fs-400);
}

p,
span {
    line-height: 1.66;
}
